/*--------------
--2.Header-nav--
--------------*/

.navbar{

    @include margins (0,0,2em,0);
    background-color: #d9d9d9;

    @include respond-to("sm"){

        .navbar-brand{
            width: 50%;
        }

        img{
            width: 50%;
        }


        .navbar-toggler{
            z-index:3;
        }
    
    
        .navbar-collapse{
    
            height: 100%;
            width: 100%;
            position: fixed;
            z-index:2;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
        }
    
    
    
        .navbar-nav{
    
            width:100%;
            position: relative;
            top: 25%;
            transition: 0.3s;
        }
    
        .nav-item a{
    
            width: 100%;
            background-color: grey;
            font-size: 20px;
            @include alignText (center);
    
        }

    }
}