/*-------------------
-----4.Searchbar-----
-------------------*/

.searchbar{
    @include margins (3em,null,null,null);
    @include alignText(center);


    input{
        width:60%;
    }

    button {
        @include margins (0,0.3,0,0.3);
    }
}