/*---------------------
-------5.Services------
---------------------*/

.services{
    padding: 0;
    @include margins(0,0,0,0);

    h3 {
        @include alignText(center);
        width: 100%;
        @include margins (1em,0,0,0);
    }
}

.service {
    @include margins (1em,null,null,null);
    @include alignText(center);

    p{
        @include margins (0.5,0,0,0);
    }
}

