//mixins

/* Función para hacer la pagina responsive */
@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media (max-width:479px) {
        @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (max-width:767px) {
        @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width:992px) and (max-width:1280px) {
        @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media (min-width: 1920px) {
        @content;
        }
    }
}

//Mixin para poner o quitar margenes, por defecto aplica un margin:0;
@mixin margins ($top, $right, $bottom, $left){

    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}



@mixin alignText ($position){

    text-align: $position;
}



